@import '@/styles/_variables.scss';

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  cursor: pointer;

  & > div {
    width: 36px;
    height: 4px;

    display: flex;
    transition: $transition;

    div {
      width: 50%;
      height: 100%;
      background-color: $white;
      transition: $transition;

      &:nth-child(1) {
        border-radius: 4px 0 0 4px;
      }

      &:nth-child(2) {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .secondLine {
    background-color: $white;
    border-radius: 4px;
  }
}

.hamburgerMenuOpened {
  .secondLine {
    width: 0;
  }

  & > div {
    &:nth-child(1) {
      div {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(5px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg) translateX(-5px);
        }
      }
    }

    &:nth-child(3) {
      div {
        &:nth-child(1) {
          transform: rotate(-45deg) translateX(5px);
        }

        &:nth-child(2) {
          transform: rotate(45deg) translateX(-5px);
        }
      }
    }
  }
}
