@import '@/styles/_variables.scss';

.outroViewContainer {
  height: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  h1 {
    font-size: 64px;
    margin-top: 64px;
  }

  h2 {
    padding: 0 24px;
    font-size: 48px;
    border-bottom: 2px solid $white;
  }
}

.background {
  position: absolute;
  bottom: -9.5px;
  width: 100%;
  z-index: -1;
  transform: scale(-1, 1);

  animation: waving 1s ease-in-out;
}

@keyframes waving {
  0% {
    transform: scale(-1, 1) translateX(-2000px);
  }

  100% {
    transform: scale(-1, 1) translateX(0);
  }
}
