@import '@/styles/_variables.scss';

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: $blue;
  padding: 12px 24px;
  cursor: pointer;

  font-size: 24px;
  font-weight: 600;
  color: $white;

  transition: $transition;

  &:hover {
    color: $blue;
    border: 1px solid $blue;
    background-color: $dark-grey;

    .arrow {
      border-color: $blue;
    }
  }
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 3px solid $white;
  border-right: 3px solid $white;
  transform: rotate(45deg);

  transition: $transition;
}
